modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
ADMIN_PASSWORD = "pigplums"
VAPID_PUBLIC_KEY = "BDR2Y5H4WerxIjaMvMdnBm58GItDh38sSkKQgnjLua-CXFqr_yOfcX-dT_f1MM1nTGRtorMq20klzTujCLSlJHw"
VAPID_PRIVATE_KEY = "u0PqDiMxZ4TaY-ek_f4tOCPHY4cBk8d-dhYSwyRojGs"
VAPID_EMAIL = "mailto:admin@chainsawcourses.co.uk"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 19478
externalPort = 3001
