modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["google-sheet:1.0.0", "github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
ADMIN_PASSWORD = "pigplums"
VAPID_PUBLIC_KEY = "BDR2Y5H4WerxIjaMvMdnBm58GItDh38sSkKQgnjLua-CXFqr_yOfcX-dT_f1MM1nTGRtorMq20klzTujCLSlJHw"
VAPID_PRIVATE_KEY = "u0PqDiMxZ4TaY-ek_f4tOCPHY4cBk8d-dhYSwyRojGs"
VAPID_EMAIL = "mailto:admin@chainsawcourses.co.uk"
VIMEO_ACCESS_TOKEN = "C2Gm8H/RsRrtj5fOEo+rlshfGO0eCRFnX9x/oY6SKFYCaCkJtziGgQsG7xljMG8PU3HqhJv6bpMegByGkVAT1p24lunjveC+7wA+/iwgjmVO4hiEp3nM2EQyiWqrTz2M"

[[ports]]
localPort = 8082
externalPort = 3000
